<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.SexPartner"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".SplashScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".ui.CreatePINActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ui.FirstPartnerActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ui.TimeToPlayActivity" android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".ui.TimeToMatchActivity"/>
        <activity android:name=".ui.Round1Activity"/>
        <activity android:name=".ui.GuessingTimeActivity"/>
    </application>
</manifest>
